<div id="rodape" style="margin: 40px 20px 30px 270px; ">
    <div id="cabecalho"><img style="width: 20%; margin: 50px 0 30px 30px;"
            src='https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png'></img>
    </div>
    <div>
        <a href="#" style=" text-decoration: none; color: white"><span> Gym Point Academia</br> Equipe
                GymPoint</span></a>
    </div>
</div>