<strong style="padding:40%;">Olá {{student}}</strong>
<p>A sua pergunta acabou de ser respondida pelos nossos Instrutores:</p>
</br>
<small>Pergunta:</small>
<div style="background:dimgrey; border-radius: 5px; width: 70%; font-size: 13px; font-style:italic; margin:auto">
    {{question}}
</div>
<small>Resposta</small>
<div style="background:dimgrey; border-radius: 5px; width: 70%; font-size: 13px; font-style:italic; margin:auto">

    {{answer}}
</div>